html, body {
	min-width: 290px;
	line-height: 1.5;
}

#navbar {
	border-right: solid;
	margin: 0;
	position: fixed;
	min-width: 290px;
	top: 0px;
	left: 0px;
	background-color: #FFF5EE;
/*makes whole left side fill to bottom- infinite*/
	height: 100%;
	width: 300px;
}

header {
	font-size: 20px;
	text-align: center;
	margin: 0;
	font-weight: bold;
	
}

#main-doc h1 {
	text-align: left;
	margin: 0;
}

nav ul {
	height: 88%;
	padding: 0;
/*makes scroll bar in menu list*/
	overflow-y: auto;
	overflow-x: hidden;
}

#navbar li {
	list-style: none;
	position: relative;
	border-top: 1px solid;
	width: 100%;
}

#navbar a {
	display: block;
/*To remove lines under links*/
	text-decoration: none;
	color: black;
	padding: 10px 30px;
	margin: 0;
/*Turns mouse arrow pointer into hand*/
	cursor: pointer;
}

#main-doc { 
	position: absolute;
	margin-left: 310px;
	padding: 20px;
	margin-bottom: 100px;
}

#main-doc section {
	padding-top: 5px;
}

code {
	background-color: #DCDCDC;
/*Extends the background color to full width of page*/
	display: block;
	text-align: left;
	position: relative;
	min-width: 233px;
	line-height: 2;
}

@media only screen and (max-width: 815px) 
{
  /* For mobile phones: */
  	#navbar ul {
 		border: 1px solid;
    	height: 210px;
  	}	

	#navbar {
		position: absolute;
		top: 0;
		padding: 0;
		margin: 0;
		width: 100%;
		max-height: 275px;
		z-index: 1;
		border-bottom: 2px solid;
	}

	#main-doc {
		position: relative;
		margin-left: 0;
		margin-top: 270px;
	}
}

@media only screen and (max-width: 400px) 
{
  	#main-doc {
    	margin-left: -10px;
	}

	code {
		margin-left: -20px;
		width: 100%;
		min-width: 233px;
	}
}


